* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-wheel,
#left-wheel {
  animation: wheel 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  form {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(350deg);
  }
}
